<%# -*- coding: utf-8 -*- -%>
<iframe src="<%= viewer_url %>"
        width="640" height="524"
        frameborder="0"
        marginwidth="0"
        marginheight="0"
        scrolling="no"
        style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
        allowfullscreen> </iframe>
<div style="margin-bottom: 5px">
  <a href="<%= url %>" title="<%= h(title) %>"><%= h(title) %>
</div>
