<%# -*- coding: utf-8 -*- %>
<%= header %>

<div id="error">
  <div id="title">
    <h1><%= h(_("Error")) %></h1>
  </div>
  <p>Sorry. Unexpected error is occurred. Back to <a href="<%= h(top_path) %>">the top page</a>.</p>
</div>
