<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title><%= h(title) %></title>
    <script src="<%= top_path %>javascripts/jquery-1.8.1.min.js"
            type="text/javascript"></script>
    <script src="<%= top_path %>javascripts/slide.js"
            type="text/javascript"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
