<%# -*- coding: utf-8 -*- -%>
<div id="viewer">
  <div id="viewer-header"></div>
  <div id="viewer-content">
    <div id="page-images">
      <% @pdf.each_with_index do |page, i| %>
      <img id="page-image-<%= i %>" src="<%= i %>.png" class="page-image"/>
      <% end %>
    </div>
  </div>
  <div id="viewer-footer">
    <div id="viewer-move-control">
      <span id="viewer-move-to-first"></span>
      <span id="viewer-move-to-previous"></span>
      <span id="viewer-move-to-next"></span>
      <span id="viewer-move-to-last"></span>
    </div>
    <div id="viewer-page-slider"></div>
    <span id="viewer-current-page">0</span>
    /
    <span id="viewer-n-pages"><%= h(n_pages) %></span>
  </div>
</div>
